.dialog-title{
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-group input {
  padding: 12px 16px;
}

.submit-btn {
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 50%;
  padding: 12px 16px;
  margin: 12px 0;
}

.cancel-btn {
  justify-content: center;
  align-items: center;
  color: #212121;
  background-color: #ffffff;
  border-color:#212121;
  width: 50%;
  padding: 10px 16px;
  margin: 12px 0;
}
